In [1]:
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)
print(11)
print(12)
print(13)
print(14)
print(15)
print(16)
print(17)
print(18)
print(19)
print(20)
print(21)
print(22)
print(23)
print(24)
print(25)
print(26)
print(27)
print(28)
print(29)
print(30)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

loops 
1. for - iteration,traversal,repeatation (if no. steps are known)
2. while - user input, condition based (if no. steps unknown)

In [2]:
# traversal (for every value checked)

x = [0,2,1,3,6,10]
for i in x:
    print(i)

0
2
1
3
6
10

In [3]:
colors =['red','blue','green','yellow']
for val in colors:
    print(f'We got {val}')

We got red
We got blue
We got green
We got yellow

In [6]:
for i in range(1,31):               # end = " " use for not change line
    print(i,end =" 😊 ")            # (window + .) key use for emoji

1 😊 2 😊 3 😊 4 😊 5 😊 6 😊 7 😊 8 😊 9 😊 10 😊 11 😊 12 😊 13 😊 14 😊 15 😊 16 😊 17 😊 18 😊 19 😊 20 😊 21 😊 22 😊 23 😊 24 😊 25 😊 26 😊 27 😊 28 😊 29 😊 30 😊

In [9]:
# disply a table of 2

for i in range(1,11):
    print(f'2 x {i} = {2 * i}')

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [1]:
for i in range(1,200):
    print(i, end = " 😎 ")

1 😎 2 😎 3 😎 4 😎 5 😎 6 😎 7 😎 8 😎 9 😎 10 😎 11 😎 12 😎 13 😎 14 😎 15 😎 16 😎 17 😎 18 😎 19 😎 20 😎 21 😎 22 😎 23 😎 24 😎 25 😎 26 😎 27 😎 28 😎 29 😎 30 😎 31 😎 32 😎 33 😎 34 😎 35 😎 36 😎 37 😎 38 😎 39 😎 40 😎 41 😎 42 😎 43 😎 44 😎 45 😎 46 😎 47 😎 48 😎 49 😎 50 😎 51 😎 52 😎 53 😎 54 😎 55 😎 56 😎 57 😎 58 😎 59 😎 60 😎 61 😎 62 😎 63 😎 64 😎 65 😎 66 😎 67 😎 68 😎 69 😎 70 😎 71 😎 72 😎 73 😎 74 😎 75 😎 76 😎 77 😎 78 😎 79 😎 80 😎 81 😎 82 😎 83 😎 84 😎 85 😎 86 😎 87 😎 88 😎 89 😎 90 😎 91 😎 92 😎 93 😎 94 😎 95 😎 96 😎 97 😎 98 😎 99 😎 100 😎 101 😎 102 😎 103 😎 104 😎 105 😎 106 😎 107 😎 108 😎 109 😎 110 😎 111 😎 112 😎 113 😎 114 😎 115 😎 116 😎 117 😎 118 😎 119 😎 120 😎 121 😎 122 😎 123 😎 124 😎 125 😎 126 😎 127 😎 128 😎 129 😎 130 😎 131 😎 132 😎 133 😎 134 😎 135 😎 136 😎 137 😎 138 😎 139 😎 140 😎 141 😎 142 😎 143 😎 144 😎 145 😎 146 😎 147 😎 148 😎 149 😎 150 😎 151 😎 152 😎 153 😎 154 😎 155 😎 156 😎 157 😎 158 😎 159 😎 160 😎 161 😎 162 😎 163 😎 164 😎 165 😎 166 😎 167 😎 168 😎 169 😎 170 😎 171 😎 172 😎 173 😎 174 😎 175 😎 176 😎 177 😎 178 😎 179 😎 180 😎 181 😎 182 😎 183 😎 184 😎 185 😎 186 😎 187 😎 188 😎 189 😎 190 😎 191 😎 192 😎 193 😎 194 😎 195 😎 196 😎 197 😎 198 😎 199 😎

In [1]:
#reverse loop

for i in range(10,0,-1):
    print(i,end=' ')

10 9 8 7 6 5 4 3 2 1

In [2]:
veg = ['potato','tomato','onion','cabbage','carrot']
for item in veg:
    print(item)

potato
tomato
onion
cabbage
carrot

In [3]:
for item in enumerate(veg):      #enumerate use for 2 value =index,value
    print(item)

(0, 'potato')
(1, 'tomato')
(2, 'onion')
(3, 'cabbage')
(4, 'carrot')

In [4]:
for index,value in enumerate(veg):      #correct version of enumerate
    print(index,'got',value)

0 got potato
1 got tomato
2 got onion
3 got cabbage
4 got carrot

zip

In [10]:
veg = ['potato🥔','tomato🍅','onion🧅','cabbage🥬','carrot🥕']
prices = [35,80,30,15,30]

In [12]:
for i in range(len(veg)):                   #non pythonic way
    print(f'{veg[i]} --------- 💵 {prices[i]}')

potato🥔 --------- 💵 35
tomato🍅 --------- 💵 80
onion🧅 --------- 💵 30
cabbage🥬 --------- 💵 15
carrot🥕 --------- 💵 30

In [13]:
for v,p in zip(veg,prices):               #pythonic
    print(f'{v} ----------💵 {p}')

potato🥔 ----------💵 35
tomato🍅 ----------💵 80
onion🧅 ----------💵 30
cabbage🥬 ----------💵 15
carrot🥕 ----------💵 30

# wap to print the following lists using zip
- list1 contains movie title
- list2 contains movie rating
- list3 contins movie year
- list4 contains movie director

In [14]:
title = ['tiger','bharat','pk','dhoom','dhoom2']
rating = [4,5,4.2,4.5,4.3]
year = [2012,2021,2020,2018,2022]
director = ['kabir khan','ali abbas','rajkumar hirani','sanjay gadhvi','sanjay']

for t,r,y,d in zip(title,rating,year,director):
    print(f'{t} -- {r} -- {y} -- {d}')

tiger -- 4 -- 2012 -- kabir khan
bharat -- 5 -- 2021 -- ali abbas
pk -- 4.2 -- 2020 -- rajkumar hirani
dhoom -- 4.5 -- 2018 -- sanjay gadhvi
dhoom2 -- 4.3 -- 2022 -- sanjay

In [16]:
for i in range(10):
    for i in range(10):
        print(i, end=' ')
    print()

0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9
0 1 2 3 4 5 6 7 8 9

break and continue

In [20]:
x = [1, 2, 3, 4, 0, 0, 5]
for i in x:
    if i == 0:
        break
    print(i)

1
2
3
4

In [21]:
x = [1, 2, 0, 3, 4, 0, 0, 5]
for i in x:
    if i == 0:
        continue
    print(i)

1
2
3
4
5

In [22]:
x = [1, 2, 0, 3, 4, 0, 0, 5]
for i in x:
    if i != 0:
        print(i)

1
2
3
4
5

In [29]:
n = int(input('enter number : '))
for i in range(2,n):
    if n % i == 0:
        print('not prime')
        break
else:
    print('prime')

not prime

In [32]:
for num in range(1,100):
    if num == 1:
        continue
    for i in range(2,num):
        if num % i == 0:
            break
    else:
        print(num, end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [33]:
for i in range(5):
    if i == 3:
        break
    print(i)
else:
    print('done')

0
1
2

In [34]:
x = 10
while x > 0:
    print(x)
    x -= 2

10
8
6
4
2

In [36]:
x = 10
while x > 0:
    x -= 2
    print(x)

8
6
4
2
0

In [39]:
total = 0
while True:
    num = int(input('enter a number : '))
    if num == 0:
        break
    total += num
print(f'Total is {total}')

Total is 60

In [40]:
books = []
while True:
    name = input('Enter book name : ')
    if name:
        books.append(name)    #add item to list
    else:
        break
print("These are your books")
print(books)

These are your books
['ab', 'abc', 'abcd', 'abcde']

In [ ]:
# fibonacci seris