In [1]:
245

245

In [3]:
"anurag singh"

'anurag singh'

In [6]:
print('anurag')

anurag

In [7]:
print(1,2,3)

1 2 3

In [8]:
print("tiger", 2022)

tiger 2022

In [9]:
print('this is a line')
print('another line')
print("and the final text line")

this is a line
another line
and the final text line

In [10]:
a = 10
b = 20
c = 30
print(a,b,c)

10 20 30

In [12]:
city = "lko"
state = "uttar pradesh"
name ="adam" 
name = "randolf"

In [14]:
food = input()
print(food)

aalu

In [15]:
a = "apple"
type(a)

str

In [16]:
a = 101
type(a)

int

In [19]:
#typecast
a = "300"
print(a,type(a))
b = int(a)
print(b, type(b))
a = int(a)
print(a,type(a))

300 <class 'str'>
300 <class 'int'>
300 <class 'int'>

In [22]:
a = "200 +"
a = int(a)
print(a , type(a))

ValueError: invalid literal for int() with base 10: '200 +'

In [25]:
a = input(" Enter A : ")
b  = input('Enter B : ')
print(type(a),type(b))
a = int(a)
b = int(b)
print("Sum of A,B :" , a+b)

<class 'str'> <class 'str'>
Sum of A,B : 11

In [3]:
num1 = int(input(" Enter A : "))
num2 = int(input(" Enter B : "))
ans = num1 * num2
print(ans)
ans1 = num1 / num2
print(ans1)

200
2.0

# Operators

In [2]:
x = 10
y = 3

In [3]:

x / y

3.3333333333333335

In [4]:
x * y

30

In [5]:
x//y # float division

3

In [8]:
x % y  #remainder

1

In [7]:
x ** y #exponentiation

1000

In [10]:
 x = 10                           #assignment operator
 x +=5
 print(x)
 x -=5
 print(x)

15
10

In [12]:
z += 5

NameError: name 'z' is not defined

In [13]:
#comparion (== , <=, >=, <, >, !=)

x > 10

False

In [14]:
y > 3

False

In [15]:
'apple' == 'Apple'

False

In [16]:
'Apple' == 'Apple'

True

In [17]:
# logical  (and, or, not)

x > 5 and x > 100

False

In [18]:
x > 5 or x > 100

True

In [19]:
x > 5 and x > 8

True

In [23]:
not x > 91

True

In [24]:
x is y           #instance(it is used on data structure)

False

In [25]:
x is not y

True

In [26]:
# membership operator (in)

a  = [1,2,3,5,8,9,10]

In [27]:
2 in a

True

In [28]:
12 in a

False

## formatted string & msg.

In [31]:
l = 10.5
b = 6.10
area = l * b
print(l,b,area)
print("{} * {} = {} ".format(l,b,area))   #py 3.5

10.5 6.1 64.05
10.5 * 6.1 = 64.05

In [33]:
print('{l} * {b} = {area}')  # f is remove

{l} * {b} = {area}

In [34]:
print(f'{l} * {b} = {area}')

10.5 * 6.1 = 64.05

In [37]:
print(f'{l} * {b} = {area :.1f}')
print(f'{l} * {b} = {area :.4f}')              
print(f'{l} * {b} = {area :.0f}')

10.5 * 6.1 = 64.0
10.5 * 6.1 = 64.0500
10.5 * 6.1 = 64