In [2]:
# tuple with mixed datatypes

my_tuple = (1,"hello",3.4)
print(my_tuple)

(1, 'hello', 3.4)

In [3]:
# nested tuple
my_tuple = ("mouse", [8,4,6], (1,2,3))
print(my_tuple)

('mouse', [8, 4, 6], (1, 2, 3))

In [4]:
my_tuple = 3,4.6,"Apple"
print(my_tuple)

(3, 4.6, 'Apple')

indexing

In [5]:
my_tuple = ('p','e','r','m','i','t')
print(my_tuple[0])
print(my_tuple[5])

p
t

In [8]:
n_tuple = ("mouse", [8,4,6], (1,2,3))
print(n_tuple[0][3])
print(n_tuple[1][1])
print(n_tuple[2][1])

s
4
2

slicing

In [10]:
my_tuple = ('e','x','c','a','l','b','u','r')
print(my_tuple[1:4])
print(my_tuple[:-7])
print(my_tuple[7:])
print(my_tuple[:])

('x', 'c', 'a')
('e',)
('r',)
('e', 'x', 'c', 'a', 'l', 'b', 'u', 'r')

In [11]:
# concatenation
print((1,2,3) + (4,5,6))

(1, 2, 3, 4, 5, 6)

In [12]:
# repeat
print(("Repeat",) * 3)

('Repeat', 'Repeat', 'Repeat')

In [14]:
my_tuple = ('a','p','p','l','e')
print(my_tuple.count('p'))
print(my_tuple.index('l'))

2
3

# SET

In [15]:
# set of integers
my_set = {1,2,3}
print(my_set)

{1, 2, 3}

In [16]:
# set of mixed datatypes
my_set = {1.0, "oye",(1,2,3)}
print(my_set)

{1.0, 'oye', (1, 2, 3)}

In [17]:
# set cannot have duplicate
my_set = {1,2,3,4,3,2}
print(my_set)

{1, 2, 3, 4}

In [18]:
# we can make a set from a list
my_set = set([1,2,3,2])
print(my_set)

{1, 2, 3}

In [19]:
my_set = set([1,2,2,1,3,4,4,"oye",'hello','go','oye','go'])
print(my_set)

{1, 'oye', 2, 3, 4, 'hello', 'go'}

In [23]:
# Union
A = {1,2,3,4,5}
B = {4,5,6,7,8}
print(A|B)
print(A.union(B))
print(B.union(A))

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [24]:
# Intersection(common)
A = {1,2,3,4,5}
B = {4,5,6,7,8}
print(A & B)

{4, 5}

In [25]:
# difference
A = {1,2,3,4,5}
B = {4,5,6,7,8}
print(A - B)
print(A.difference(B))
print(B - A)

{1, 2, 3}
{1, 2, 3}
{8, 6, 7}

In [26]:
# symmetric difference
A = {1,2,3,4,5}
B = {4,5,6,7,8}
print(A ^ B)
print(A.symmetric_difference(B))

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}